<h1>Passenger#confirmation_email</h1>

<p>
  <%= @greeting %>, find me in app/views/passenger_mailer/confirmation_email.html.erb
</p>


<p>This is an email confirmation that your flight from ATL to DEN on DATE has now been booked. </p>
